In [1]:
import common

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import random

random.seed(123)
np.random.seed(123)

In [4]:
data = pd.read_csv(common.data_dir / 'Wave soldering stacked.csv')
data.head()

   A  B  C  D  E  F  G   Label      Data
0 -1 -1 -1 -1 -1 -1 -1  SqrtY1  3.605551
1 -1 -1 -1 -1 -1 -1 -1  SqrtY2  5.477226
2 -1 -1 -1 -1 -1 -1 -1  SqrtY3  5.099020
3 -1 -1 -1  1  1  1  1  SqrtY1  2.000000
4 -1 -1 -1  1  1  1  1  SqrtY2  4.000000

In [6]:
formula_main = 'Data ~ A + B + C + D + E + F + G'
group = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [9]:
ols_main = common.buildModel(data, formula_main)
ols_main.summary().tables[1]

In [33]:
ba_coeffs = common.bootstrapAnalysis(data, formula_main, nrepeats=10_000)
bba_coeffs = common.befittingBootstrapAnalysis(data, formula_main, group, nrepeats=10_000)

In [34]:
#ba_coeffs.agg(['mean', 'std']).transpose()

In [35]:
# bba_coeffs.agg(['mean', 'std']).transpose()

In [58]:
# Table IV 
tab_4 = pd.DataFrame({
    'BBA mean': bba_coeffs.mean(),
    'BBA var': bba_coeffs.var(),
    'BBA se': bba_coeffs.std(),
    'BBA LCI': bba_coeffs.quantile(0.025, axis=0),
    'BBA UCI': bba_coeffs.quantile(0.975, axis=0),
    
})
tab_4['95% BCI'] = tab_4['BBA UCI'] - tab_4['BBA LCI']
tab_4['to SE'] = tab_4['95% BCI'] / 3.92
tab_4.round(4)
# bba_coeffs.quantile(0.975, axis=0) -

           BBA mean  BBA var  BBA se  BBA LCI  BBA UCI  95% BCI   to SE
Intercept    5.0509   0.0380  0.1949   4.6850   5.4440   0.7590  0.1936
A            0.5418   0.0374  0.1935   0.1764   0.9264   0.7500  0.1913
B           -0.5409   0.0384  0.1960  -0.9363  -0.1675   0.7688  0.1961
C            1.4250   0.0385  0.1963   1.0610   1.8271   0.7661  0.1954
D           -0.1555   0.0384  0.1959  -0.5474   0.2146   0.7620  0.1944
E           -0.2806   0.0377  0.1943  -0.6471   0.1093   0.7564  0.1930
F           -0.1574   0.0372  0.1929  -0.5461   0.2028   0.7489  0.1911
G           -0.8912   0.0380  0.1949  -1.2500  -0.4925   0.7575  0.1932

In [59]:
tab = pd.DataFrame({
    'BA mean': ba_coeffs.mean(),
    'BA var': ba_coeffs.var(),
    'BA se': ba_coeffs.std(),
    'BA LCI': ba_coeffs.quantile(0.025, axis=0),
    'BA UCI': ba_coeffs.quantile(0.975, axis=0),
    
})
tab['95% BCI'] = tab['BA UCI'] - tab['BA LCI']
tab['to SE'] = tab['95% BCI'] / 3.92
tab.round(4)
# bba_coeffs.quantile(0.975, axis=0) -

           BA mean  BA var   BA se  BA LCI  BA UCI  95% BCI   to SE
Intercept   5.0483  0.1041  0.3226  4.4188  5.6918   1.2730  0.3247
A           0.5399  0.0998  0.3160 -0.0734  1.1761   1.2495  0.3187
B          -0.5391  0.0938  0.3062 -1.1358  0.0594   1.1952  0.3049
C           1.4250  0.0971  0.3117  0.8537  2.0617   1.2080  0.3082
D          -0.1480  0.0974  0.3121 -0.7691  0.4685   1.2376  0.3157
E          -0.2850  0.0992  0.3150 -0.9113  0.3346   1.2459  0.3178
F          -0.1519  0.0959  0.3097 -0.7891  0.4404   1.2295  0.3136
G          -0.8995  0.0980  0.3131 -1.4874 -0.2567   1.2307  0.3139